body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url('https://www.123rf.com/photo_99779451_analog-stopwatch-on-grey-background.html');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
